@tailwind base;
@tailwind utilities;
@tailwind components;

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #008eff;
}
